// 颜色  const
$main-color:#ffffff;
$main-box-color:#ffffff;
$main-box-text-color:#646464;
$main-box-fh-text-color:#ffffff;
$main-box-fh-bg-color:#277d1f;	
$main-bg-color:#ffffff;
$main-adorn-color:#ffae00;
$main-blue-color:#08abee;
$main-blue-black-color:#004986;
$main-purple-color:#9d00e6;
$main-green-color:#298522;
$main-red-color:#e22018;
$mainTextColor:#323232;
$mainTextColor2:#646464;
$grayLight: #e5e5e5;
$grayLight2: #bababa;
$grayDark: #7d7e80;
$grayDarker: #646464;
$mainBorderColor:#d5d5d5;
$bottomLineColor:#226c1b;
$warnColor:#de0000;
$tipColor:#ee0a24;
// 尺寸
$headerHeight:46px;
$header-height:47px;
$footerHeight:50px;
$fs-0:0.625rem;//10px;
$fs-1:0.75rem;//12px;
$fs-2:0.875rem;//14px;
$fs-3:1rem;//16px;
$fs-10:0.625rem;//10px;
$fs-11:0.687rem;//11px;
$fs-12:0.75rem;//12px;
$fs-13:0.812rem;//13px;
$fs-14:0.875rem;//14px;
$fs-15:0.937rem;//15px;
$fs-16:1rem;//16px;
$fs-title:0.875rem;
$fs-content:0.75rem;
$fs-decorate:0.687rem;

//width
$lineWidth: 96%;

//padding
$boxPadding1:20px;
$boxPadding2:12px;

//margin
$marginLeft:2%;
$marginLeftBox:4px;
$marginTop1:1px;
$marginTop2:4px;
$right:10px;
//border
$borderRadius:6px;

//fixed
$fixed-btn-width:40px;
$fixed-btn-width2:50px;
